data/*
test-data/*
!data/opencode/
!data/claude/
data/opencode/*
!data/opencode/.gitkeep
data/claude/*
!data/claude/.gitkeep

workspace/*
!workspace/.mcp.json
!workspace/uploads/
workspace/uploads/*
!workspace/uploads/.gitkeep

.DS_Store